# Ignore everything
*

# But do include these files
!README.md
!LICENSE
!.gitignore
!.c
!.cpp
!.h
!.txt
!Examples/MotionSensorTest/*.ino
!Examples/MotionSensorTest/*.h
!Examples/MotionSensorTest/*.cpp
